altair
anyio==4.10.0
appdirs==1.4.4
asgiref==3.9.1
asttokens
attrs==25.3.0
blinker
Bottleneck
branca
Brotli
brotlicffi
cachetools
certifi
cffi
charset-normalizer
click==8.2.1
colorama==0.4.6
comm
contourpy
cycler
debugpy
decorator
entrypoints
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing
faicons==0.2.2
fastjsonschema==2.21.2
folium
fonttools
geopandas
gitdb
GitPython
h11==0.16.0
htmltools==0.6.0
idna==3.10
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client
jupyter_core
kiwisolver
linkify-it-py==2.0.3
mapclassify
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdit-py-plugins==0.5.0
mdurl==0.1.2
narwhals==2.1.2
nbclient==0.10.2
nbformat==5.10.4
nest_asyncio
networkx
numexpr
numpy
openpyxl==3.1.5
orjson==3.11.2
packaging
palmerpenguins==0.1.4
pandas
parso
patsy
pickleshare
pillow
platformdirs
plotly
prompt_toolkit==3.0.51
protobuf
psutil
pure_eval
pyarrow
pycparser
Pygments
pyogrio
pyparsing
pyproj
PySocks
python-dateutil
python-multipart==0.0.20
pytz
pywin32
PyYAML==6.0.2
pyzmq
questionary==2.1.0
referencing==0.36.2
requests
rpds-py==0.27.0
scikit-learn
scipy
seaborn
shapely
shiny==1.4.0
six
smmap
sniffio==1.3.1
stack_data
starlette==0.47.2
statsmodels
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
uc-micro-py==1.0.3
unicodedata2
urllib3
uvicorn==0.35.0
watchdog
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
win-inet-pton
xyzservices
zipp